PORT=3001
AWS_REGION=ap-northeast-2
DYNAMODB_TABLE_PERFORMANCES=mega-ticket-performances
DYNAMODB_TABLE_VENUES=mega-ticket-venues
DYNAMODB_TABLE_RESERVATIONS=mega-ticket-reservations
BEDROCK_MODEL_ID=anthropic.claude-3-5-sonnet-20240620-v1:0
# Add your AWS Credentials if not using IAM Role or volume mount
# AWS_ACCESS_KEY_ID=...
# AWS_SECRET_ACCESS_KEY=...
