name: "Regional Infra Manual Destroy"
on:
  workflow_dispatch:
    inputs:
      region:
        description: '삭제할 리전을 선택하세요'
        required: true
        default: 'seoul'
        type: choice
        options:
          - seoul
          - tokyo

permissions:
  id-token: write
  contents: read

jobs:
  destroy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ap-northeast-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Terraform Destroy
        working-directory: ./terraform/${{ github.event.inputs.region }}
        run: |
          terraform init
          terraform destroy -auto-approve